<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        fieldset {
          background-color: #eeeeee;
        }

        legend {
          background-color: gray;
          color: white;
          padding: 5px 10px;
        }

        input {
            margin-top: 5px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'inventory_tracking:create_update_delete' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1> Create/Update Item </h1></legend><br>
            SKU<br><input type="text" id="sku_number" name="sku_number" value={{ latest_sku_number }}><br><br>
            Item Name<br><input type="text" id="item_name" name="item_name" value={{ latest_item_name }}><br><br>
            Item Quantity<br><input type="text" id="item_quantity" name="item_quantity" value={{ latest_item_quantity }}><br><br>
        </fieldset>
        <input type="submit" name="action" value="Delete Item">
        <input type="submit" name="action" value="Update Item">
        <input type="submit" name="action" value="Add Item">
    </form>


    {% if list_of_items %}
        <ul>
        {% for item in list_of_items %}
            <li>
                <a href="{% url 'inventory_tracking:item' item.sku_number %}">
                    {{ item.item_name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No items are available.</p>
    {% endif %}


</body>
</html>